html{
  box-sizing: border-box;
}

body {
  font: 14px/1.5 tahoma, arial, Simsun, sans-serif;
  color:#292b2c;
  background-color:#fff;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.clearfix::after{
  content:"";
  display:block;
  clear:both;
}

h1{
  font-size: 36px;
}
h2{
  font-size: 30px;
}
h3{
  font-size: 24px;
}
h4{
  font-size: 18px;
}
h5{
  font-size: 14px;
}
h6{
  font-size: 12px;
}




