body, blockquote, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, hr, input, legend, li, ol, p, pre, td, textarea, th, ul {
  margin: 0;
  padding: 0
}
code, kbd, pre, samp {
  font-family: courier new, courier, monospace
}
ol, ul {
  list-style: none
}
a {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
}
a:hover{
  text-decoration: underline;
}
sup {
  vertical-align: text-top
}
sub {
  vertical-align: text-bottom
}
legend {
  color: #000
}
fieldset, img {
  border: 0
}
button, input, select, textarea {
  font-size: 100%
}
table {
  border-collapse: collapse;
  border-spacing: 0
}
h1{
  font-size: 36px;
}
h2{
  font-size: 30px;
}
h3{
  font-size: 24px;
}
h4{
  font-size: 18px;
}
h5{
  font-size: 14px;
}
h6{
  font-size: 12px;
}
