
.u-clearfix::after{
  content: '';
  display: block;
  clear: both;
}

.u-truncate{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.u-pull-left{
  float:left;
}

.u-pull-right{
  float:right;
}

.u-pointer{
  cursor: pointer
}



