:root {
  --color-blue: #337ab7;
  --color-red: #ea4a3c;
  --color-gray: #a9a9a9;
  --color-lightgray: #e4e4e4;
  --color-dimgray: #333;
  --color-silver: #eee;
  --color-green: #26b99a;
  --color-slategrey: #73879c;
  --color-darkblue: #2a3f54;

  /* header */
  --header-height: 57px;
  --header-bg: var(--color-silver);
  --header-color: var(--color-dimgray);

  /* left-nav */
  --left-nav-width: 230px;
  --left-nav-bg: var(--color-darkblue);
  --left-nav-color: #fff;
  --left-nav-active-bg: rgba(255, 255, 255, 0.05);
  --border-default: 1px solid var(--border-default-bg);
  --border-default-bg: #d9dee4;
  --disabled-color: var(--color-lightgray);
}
