:root{
  --color-blue:#337ab7;
  --color-red: #ea4a3c;
  --color-gray: #bfcbd9;
  --color-gray-black:#1f2d3d;
  --color-green:#26B99A;

/* header */
  --header-height: 57px;
  --header-bg: #ededed;
  --header-color:#515356;

/* left-nav */
  --left-nav-width: 230px;
  --left-nav-bg: #2a3f54;
  --left-nav-color:#f2f5f7;
  --left-nav-active-bg:rgba(255,255,255,.05);

/* content-bg */
  --main-bg:#f7f7f7;
  --border-bg: #d9dee4;
  --border-default:1px solid var(--border-default-bg);
  --border-default-bg:#d9dee4;
  --disabled-color:#bfcbd9;
}

