/* 主色调 */
@blue: #478FF1;
@red: #ea4a3c;
@gray: #f0f1f3;
@green:#1fd04a;

/* header */
@header-height: 57px;
@header-bg: #EDEDED;
@header-color:#515356;

/* left-nav */
@left-nav-width: 230px;
@left-nav-bg: #2A3F54;
@left-nav-color:#F2F5F7;
@left-nav-active-bg:rgba(255,255,255,.05);

/* content-bg */
@main-bg:#F7F7F7;

@border-bg: #D9DEE4;

