/* 主色调 */
@blue: #478FF1;
@red: #ea4a3c;
@gray: #f0f1f3;
@green:#1fd04a;

/* header */
@header-height: 62px;
@header-bg: @blue;
@header-color:#fff;

/* left-nav */
@left-nav-width: 204px;
@left-nav-bg: #242635;
@left-nav-active-bg:#191923;

/* content-bg */
@main-bg:#F0F1F3;

@border-bg: #acacae;
@input-width: 300px;
